In [1]:
list1 = []

In [2]:
print(type(list1))

<class 'list'>

In [3]:
list2 = [10, 30, 60]

In [4]:
list3 = [10.77, 30.66, 60.89]

In [5]:
list4 = ['one', 'two', 'three']

In [6]:
list5 = ['Doğu', 25, [50, 100], [150, 90]]

In [7]:
list6 = [100, 'Doğu', 17.765]

In [8]:
list7 = ['Doğu', 25, [50, 100], [150, 90], {'John', 'David'}]

In [9]:
len(list6)

3

In [10]:
#Dizin İşlemleri (Indexing)

In [11]:
list2[0]

10

In [12]:
list4[0]

'one'

In [13]:
list4[0][0]

'o'

In [14]:
list4[-1]

'three'

In [15]:
list5[-1]

[150, 90]

In [16]:
#Dilimleme (Slicing)

In [17]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [18]:
mylist[0:3]

['one', 'two', 'three']

In [19]:
mylist[2:5]

['three', 'four', 'five']

In [20]:
mylist[:3]

['one', 'two', 'three']

In [21]:
mylist[-3:]

['six', 'seven', 'eight']

In [22]:
mylist[:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [23]:
#Add, Remove, Change

In [24]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [25]:
mylist.append('nine')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [26]:
mylist.insert(9, 'ten')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [27]:
mylist.insert(1, 'ONE')

In [28]:
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [29]:
mylist.remove('ONE')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [30]:
mylist.pop()
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [31]:
mylist.pop(8)
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [32]:
del mylist[7]
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [33]:
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [34]:
mylist.clear()
mylist

[]

In [35]:
del mylist
mylist

NameError: name 'mylist' is not defined

In [36]:
#Kopyalama

In [37]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [38]:
mylist1 = mylist

In [39]:
id(mylist), id(mylist1)

(2362670482496, 2362670482496)

In [40]:
mylist2 = mylist.copy()

In [41]:
id(mylist2)

2362670300992

In [42]:
mylist[0] = 1

In [43]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [44]:
mylist1

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [45]:
mylist2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [46]:
#Join (Birleştirmek)

In [47]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [48]:
list3 = list1 + list2
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [49]:
list1.extend(list2)
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [50]:
#Üyelik (Membership)

In [51]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [52]:
'one' in list1

True

In [53]:
'ten' in list1

False

In [54]:
if 'three' in list1:
    print("Three is present in the list")
else:
    print("Three is not present in the list")

Three is present in the list

In [55]:
if 'eleven' in list1:
    print("Eleven is present in the list")
else:
    print("Eleven is not present in the list")

Eleven is not present in the list

In [56]:
#Reverse-Sort (Ters Çevirme-Sıralama)

In [57]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [58]:
list1.reverse()

In [59]:
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [60]:
list1 = list1[::-1]
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [61]:
mylist3 = [9, 5, 2, 99, 12, 88, 34]
mylist3.sort() #ascending (küçükten büyüğe)
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [62]:
mylist3 = [9, 5, 2, 99, 12, 88, 34]
mylist3.sort(reverse=True)
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [63]:
mylist4 = [88, 65, 33, 21, 11, 98]
sorted(mylist4)

[11, 21, 33, 65, 88, 98]

In [64]:
mylist4

[88, 65, 33, 21, 11, 98]

In [65]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [66]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [67]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [68]:
#Sayma (Count)
list10 = ['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [69]:
list10.count('one')

3

In [70]:
list10.count('two')

2

In [71]:
list10.count('four')

1

In [72]:
#All -> Listedeki bütün elemanlar True ise True üretir, herhangi biri False ise False üretir.
#Any -> Listedeki herhangi bir eleman True ise True üretir, hiç True yoksa False üretir.

In [73]:
L1 = [1,2,3,4,0]

In [74]:
all(L1)

False

In [75]:
any(L1)

True

In [76]:
L2 = [1,2,3,4,True,False]

In [77]:
all(L2)

False

In [78]:
any(L2)

True

In [79]:
L3 = [1,2,3,True]

In [80]:
all(L3)

True

In [81]:
any(L3)

True

In [82]:
#List Comprehensions

In [83]:
mystring = "WELCOME"
mylist = [i for i in mystring]
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [84]:
mylist1 = [i for i in range(40) if i % 2 == 0]

In [85]:
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [86]:
mylist2 = [i for i in range(40) if i % 2 == 1]
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [87]:
mylist3 = [num**2 for num in range(10)]
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [88]:
list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1]
list1

[20, 30, 40, 50, 60, 70, 80]

In [89]:
mylist4 = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist4

[0, 36, 72, 108, 144, 180]

In [90]:
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [91]:
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
letters = [i for i in mystr if i.isalpha()]
letters

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

In [92]:
#Tuples (Demetler)

In [93]:
tup1 = ()

In [94]:
tup2 = (10, 30, 60)

In [95]:
tup3 = (10.77, 30.66, 60.89)

In [96]:
tup4 = ('one', 'two', 'three')

In [97]:
tup5 = ('Doğu', 26, (50, 100), (150, 90))

In [98]:
tup6 = (100, 'Doğu', 17.765)

In [99]:
tup7 = ('Doğu', 26, [50, 100], [150, 90], {'John', 'David'}, (99, 22, 33))

In [100]:
len(tup7)

6

In [102]:
tup2[0]

10

In [103]:
tup4[0]

'one'

In [104]:
tup4[0][0]

'o'

In [105]:
tup4[-1]

'three'

In [106]:
tup5[-1]

(150, 90)

In [107]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [108]:
mytuple[0:3]

('one', 'two', 'three')

In [109]:
mytuple[-3:]

('six', 'seven', 'eight')

In [110]:
mytuple[-1]

'eight'

In [111]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [112]:
#Remove, Change

In [113]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [114]:
mytuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [115]:
del mytuple

In [116]:
mytuple

NameError: name 'mytuple' is not defined

In [117]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [118]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [119]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [120]:
#Sayma (Count)
mytuple1 = ['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [121]:
mytuple1.count('one')

3

In [122]:
#Üyelik (Memebership)

In [123]:
'one' in mytuple1

True

In [124]:
'ten' in mytuple1

False

In [125]:
if 'eleven' in mytuple1:
    print("Eleven is present in the tuple")
else:
    print("Eleven is not present in the tuple")

Eleven is not present in the tuple

In [126]:
#Index Position

In [127]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [128]:
mytuple.index('one')

0

In [131]:
mytuple.index('five')

4

In [130]:
#Sorting

In [134]:
mytuple2 = (43, 67, 99, 12, 6, 90, 67)

In [135]:
sorted(mytuple2) #ascending

[6, 12, 43, 67, 67, 90, 99]

In [137]:
sorted(mytuple2, reverse = True) #descending

[99, 90, 67, 67, 43, 12, 6]

In [138]:
#Arama uygulaması

In [141]:
def main():
    
    prod_nums = ['V475', 'F987', 'Q143', 'R688']

    search = input("Enter a product number: ")

    if search in prod_nums:
        print(search, 'was found in the list')
    else:
        print(search, 'was not found in the list')
    
main()

Enter a product number: A123
A123 was not found in the list

In [142]:
#Listeye eleman ekleme uygulaması

In [143]:
def main():
    
    name_list = []
    
    again = 'y'
    
    while again == 'y':
        name = input("Enter a name: ")
        
        name_list.append(name)
        
        #Eğer başka bir eleman eklenmek isteniyorsa
        print('Do you want to add another name?')
        again = input('y = yes, anything else = no: ')
        print()
        
        print("Here are the names you entered.")
        
        for name in name_list:
            print(name)
            
main()

Enter a name: Ahmet
Do you want to add another name?
y = yes, anything else = no: y

Here are the names you entered.
Ahmet
Enter a name: Mehmet
Do you want to add another name?
y = yes, anything else = no: y

Here are the names you entered.
Ahmet
Mehmet
Enter a name: Fatma
Do you want to add another name?
y = yes, anything else = no: y

Here are the names you entered.
Ahmet
Mehmet
Fatma
Enter a name: Ayşe
Do you want to add another name?
y = yes, anything else = no: y

Here are the names you entered.
Ahmet
Mehmet
Fatma
Ayşe
Enter a name: Mustafa
Do you want to add another name?
y = yes, anything else = no: ğ

Here are the names you entered.
Ahmet
Mehmet
Fatma
Ayşe
Mustafa

In [145]:
#İki boyutlu bir listeye random (rastgele) eleman ekleme
import random

In [148]:
ROWS = 3
COLS = 4

def main():
    
    values = [[0, 0, 0, 0],
              [0, 0, 0, 0],
              [0, 0, 0, 0]]
    
    for r in range(ROWS):
        for c in range(COLS):
            values[r][c] = random.randint(1, 100)
            
    print(values)
    
main()

[[88, 94, 55, 96], [76, 13, 84, 49], [8, 64, 92, 73]]

In [149]:
#String Metotları

In [150]:
str1 = "HELLO PYTHON"

str1

'HELLO PYTHON'

In [151]:
str1[len(str1) - 1]

'N'

In [152]:
str1[5]

' '

In [153]:
str1[-4:]

'THON'

In [154]:
str1[:6]

'HELLO '

In [155]:
#Update, Delete

In [156]:
str1

'HELLO PYTHON'

In [157]:
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [158]:
del str1
print(str1)

NameError: name 'str1' is not defined

In [160]:
s1 = 'Doğu '
s2 = 'Sırt'
s3 = s1 + s2
s3

'Doğu Sırt'

In [161]:
mystr1 = 'Hello Everyone'

for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [162]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [163]:
list(enumerate(mystr1))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

In [164]:
#Membership (Üyelik)
mystr1 = 'Hello Everyone'

print('Hello' in mystr1)
print('Everyone' in mystr1)
print('Hi' in mystr1)

True
True
False

In [165]:
#String Partitioning (Bölümleme)

In [166]:
str5 = "Natural Language Processing with Python and R and Java"

L = str5.partition("and")

print(L)

('Natural Language Processing with Python ', 'and', ' R and Java')

In [167]:
str5 = "Natural Language Processing with Python and R and Java"

L = str5.rpartition("and")

print(L)

('Natural Language Processing with Python and R ', 'and', ' Java')

In [168]:
mystr2 = "   Hello Everyone   "
mystr2

'   Hello Everyone   '

In [169]:
mystr2.strip()

'Hello Everyone'

In [170]:
mystr2.rstrip()

'   Hello Everyone'

In [171]:
mystr2.lstrip()

'Hello Everyone   '

In [173]:
mystr2 = "**************Hello Everyone***************All The Best******************"

mystr2.strip('*')

'Hello Everyone***************All The Best'

In [174]:
mystr2.rstrip('*')

'**************Hello Everyone***************All The Best'

In [175]:
mystr2.lstrip('*')

'Hello Everyone***************All The Best******************'

In [176]:
mystr3 = 'Hello Everyone***************All The Best'

temizlenmis_mystr3 = ""

for karakter in mystr3:
    if karakter != '*':
        temizlenmis_mystr3 += karakter
        
print(temizlenmis_mystr3)

Hello EveryoneAll The Best

In [177]:
mystr3 = 'Hello Everyone***************All The Best'

start_dizin = mystr3.find('*')
end_dizin = mystr3.rfind('*')
temizlenmis_mystr3 = mystr3[:start_dizin] + ' ' + mystr3[end_dizin + 1:]

print(temizlenmis_mystr3)

Hello Everyone All The Best

In [178]:
mystr5 = "   HELLO EVERYONE   "
mystr5.lower()

'   hello everyone   '

In [179]:
mystr5.upper()

'   HELLO EVERYONE   '

In [181]:
mystr5.replace('HE', 'HO')

'   HOLLO EVERYONE   '

In [182]:
mystr5.replace(" ", "")

'HELLOEVERYONE'

In [183]:
mystr6 = "one two three one two two three"
mystr6.count("one")

2

In [184]:
mystr6.startswith("one")

True

In [185]:
mystr6.endswith("three")

True

In [186]:
mystr7 = 'one two three four one two two three five five six seven six seven one'

In [187]:
mylist = mystr7.split()
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [188]:
item1 = 40
item2 = 55
item3 = 77

result = "Cost of item1, item2 and item3 are {}, {} and {}"

print(result.format(item1, item2, item3))

Cost of item1, item2 and item3 are 40, 55 and 77

In [189]:
#Döküman Oluşturma

In [190]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100)
print(str2)

                                          WELCOME EVERYONE

In [191]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100, '*')
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [193]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50)
print(str2)

                                 WELCOME EVERYONE

In [194]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50, '*')
print(str2)

******************************** WELCOME EVERYONE

In [195]:
str4 = 'one two three four five six seven'
loc = str4.find('five')
print(loc)

19

In [196]:
mystr6 = 'abc12309'
print(mystr6.isalpha()) #Sadece karakter
print(mystr6.isalnum()) #Karakter-sayı karışık
print(mystr6.isdecimal()) #Onlu sayı
print(mystr6.isnumeric()) #Sayısal değer

False
True
False
False

In [197]:
#Escape (Kaçış) Karakteri
mystr10 = "My favourite TV Series is "Game of Thrones""
print(mystr10)

SyntaxError: invalid syntax (<ipython-input-197-d812e4f3385e>, line 2)

In [198]:
mystr10 = "My favourite TV Series is \"Game of Thrones\""
print(mystr10)

My favourite TV Series is "Game of Thrones"

In [199]:
hello = 'hello'
python = 'python'

print(hello + " " + python)
print("%s %s" % (hello, python))
print("{} {}".format(hello, python))
print(' '.join([hello, python]))

hello python
hello python
hello python
hello python

In [200]:
#Sözlükler (Dictionaries)

In [201]:
mydict = dict()
mydict

{}

In [202]:
mydict = {}
mydict

{}

In [203]:
mydict = {1 : 'one', 2: 'two', 3: 'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [204]:
mydict = dict({1 : 'one', 2: 'two', 3: 'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [205]:
mydict = {'A' : 'one', 'B': 'two', 'C': 'three'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [206]:
mydict.keys()

dict_keys(['A', 'B', 'C'])

In [207]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [208]:
mydict.items()

dict_items([('A', 'one'), ('B', 'two'), ('C', 'three')])

In [209]:
mydict = {1 : 'one', 2 : 'two', 'A' : ['Doğu', 'Batı', 'Kuzey']}
mydict

{1: 'one', 2: 'two', 'A': ['Doğu', 'Batı', 'Kuzey']}

In [210]:
mydict = {1 : 'one', 2 : 'two', 'A' : ['Doğu', 'Batı', 'Kuzey'], 'B' : ['bat', 'hat', 'cat']}
mydict

{1: 'one',
 2: 'two',
 'A': ['Doğu', 'Batı', 'Kuzey'],
 'B': ['bat', 'hat', 'cat']}

In [211]:
keys = {'a', 'b', 'c', 'd'}
mydict3 = dict.fromkeys(keys)
mydict3

{'b': None, 'd': None, 'c': None, 'a': None}

In [213]:
keys = {'a', 'b', 'c', 'd'}
value = 10
mydict3 = dict.fromkeys(keys, value)
mydict3

{'b': 10, 'd': 10, 'c': 10, 'a': 10}

In [214]:
keys = {'a', 'b', 'c', 'd'}
value = [10, 20, 30]
mydict3 = dict.fromkeys(keys, value)
mydict3

{'b': [10, 20, 30], 'd': [10, 20, 30], 'c': [10, 20, 30], 'a': [10, 20, 30]}

In [215]:
value.append(40)
mydict3

{'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

In [216]:
#Elemanlara Erişim

In [217]:
mydict = {1 : 'one', 2: 'two', 3: 'three', 4: 'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [218]:
mydict[1]

'one'

In [219]:
mydict.get(1)

'one'

In [220]:
mydict1 = {'Name' : 'Doğu', 'ID' : 74123, 'DOB' : 1980, 'job' : 'Analyst'}
mydict1

{'Name': 'Doğu', 'ID': 74123, 'DOB': 1980, 'job': 'Analyst'}

In [221]:
mydict1['Name']

'Doğu'

In [222]:
mydict1.get('job')

'Analyst'

In [223]:
#Add, Remove, Change

In [224]:
mydict1 = {'Name' : 'Doğu', 'ID' : 74123, 'DOB' : 1980, 'Address' : 'Stockholm'}
mydict1

{'Name': 'Doğu', 'ID': 74123, 'DOB': 1980, 'Address': 'Stockholm'}

In [225]:
mydict1['DOB'] = 1982
mydict1['Address'] = 'Roma'
mydict1

{'Name': 'Doğu', 'ID': 74123, 'DOB': 1982, 'Address': 'Roma'}

In [226]:
mydict1['job'] = 'Analyst'
mydict1

{'Name': 'Doğu', 'ID': 74123, 'DOB': 1982, 'Address': 'Roma', 'job': 'Analyst'}

In [227]:
mydict1.pop('job')
mydict1

{'Name': 'Doğu', 'ID': 74123, 'DOB': 1982, 'Address': 'Roma'}

In [228]:
mydict1.popitem()

('Address', 'Roma')

In [229]:
mydict1

{'Name': 'Doğu', 'ID': 74123, 'DOB': 1982}

In [230]:
del mydict1['ID']
mydict1

{'Name': 'Doğu', 'DOB': 1982}

In [231]:
mydict1.clear()
mydict1

{}

In [232]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

In [233]:
#Kopyalama

In [234]:
mydict5 = {'Name' : 'Doğu', 'ID' : 74123, 'DOB' : 1980, 'Address' : 'Stockholm'}
mydict5

{'Name': 'Doğu', 'ID': 74123, 'DOB': 1980, 'Address': 'Stockholm'}

In [235]:
mydict1 = mydict5

In [236]:
id(mydict1), id(mydict5)

(2362671418816, 2362671418816)

In [237]:
mydict2 = mydict5.copy()

In [238]:
id(mydict2)

2362670484160

In [239]:
mydict5['Address'] = 'Ankara'

In [240]:
mydict5

{'Name': 'Doğu', 'ID': 74123, 'DOB': 1980, 'Address': 'Ankara'}

In [241]:
mydict1

{'Name': 'Doğu', 'ID': 74123, 'DOB': 1980, 'Address': 'Ankara'}

In [242]:
mydict2

{'Name': 'Doğu', 'ID': 74123, 'DOB': 1980, 'Address': 'Stockholm'}

In [243]:
#Döngüyle İterasyon

In [244]:
mydict1 = {'Name' : 'Doğu', 'ID' : 74123, 'DOB' : 1980, 'Address' : 'Stockholm', 'Job' : 'Analyst'}
mydict1

{'Name': 'Doğu',
 'ID': 74123,
 'DOB': 1980,
 'Address': 'Stockholm',
 'Job': 'Analyst'}

In [245]:
for i in mydict1:
    print(i, ':', mydict1[i])

Name : Doğu
ID : 74123
DOB : 1980
Address : Stockholm
Job : Analyst

In [246]:
for i in mydict1:
    print(mydict1[i])

Doğu
74123
1980
Stockholm
Analyst

In [ ]:
#Membership (Üyelik)

In [247]:
mydict1 = {'Name' : 'Doğu', 'ID' : 74123, 'DOB' : 1980, 'job' : 'Analyst'}
mydict1

{'Name': 'Doğu', 'ID': 74123, 'DOB': 1980, 'job': 'Analyst'}

In [248]:
'Name' in mydict1

True

In [249]:
'Doğu' in mydict1

False

In [250]:
'ID' in mydict1

True

In [251]:
'Address' in mydict1

False

In [252]:
#All, Any

In [253]:
mydict1 = {'Name' : 'Doğu', 'ID' : 74123, 'DOB' : 1980, 'job' : 'Analyst'}
mydict1

{'Name': 'Doğu', 'ID': 74123, 'DOB': 1980, 'job': 'Analyst'}

In [254]:
all(mydict1)

True

In [255]:
any(mydict1)

True

In [256]:
mydict1[0] = 'test1'
mydict1

{'Name': 'Doğu', 'ID': 74123, 'DOB': 1980, 'job': 'Analyst', 0: 'test1'}

In [257]:
all(mydict1)

False

In [258]:
any(mydict1)

True

In [259]:
#Dictionary Comprehension

In [260]:
double = {i : i*2 for i in range(10)}
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [261]:
square = {i : i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [262]:
key = ['one', 'two', 'three', 'four', 'five']
value = [1,2,3,4,5]

mydict = {k : v for (k, v) in zip(key, value)}
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [263]:
mydict1 = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40, 'e' : 50}
mydict1 = {k : v / 10 for (k, v) in mydict1.items()}
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [264]:
str1 = "Natural Language Processing"
mydict2 = {k : v for (k, v) in enumerate(str1)}
mydict2

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'L',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'P',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [265]:
str1 = "abcdefghijklmnoprstuvwxyz"
mydict3 = {i : i.upper() for i in str1}
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

In [266]:
#Sözlük kullanarak kelime sıklığı bulma

In [270]:
mystr4 = "one two three four one two two three five five six seven six seven one nine nine eight"

In [271]:
mylist = mystr4.split()
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'nine',
 'nine',
 'eight']

In [272]:
mylist1 = set(mylist)
mylist1 = list(mylist1)
mylist1

['two', 'five', 'one', 'four', 'six', 'nine', 'eight', 'seven', 'three']

In [273]:
count1 = [0] * len(mylist1)
mydict5 = dict()
for i in range(len(mylist1)):
    for j in range(len(mylist)):
        if mylist1[i] == mylist[j]:
            count1[i] += 1
    mydict5[mylist1[i]] = count1[i]
print(mydict5)

{'two': 3, 'five': 2, 'one': 3, 'four': 1, 'six': 2, 'nine': 2, 'eight': 1, 'seven': 2, 'three': 2}

In [274]:
#Kümeler (Sets)

In [275]:
myset = {1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [276]:
len(myset)

5

In [277]:
my_set = {1,1,2,2,3,4,5,5}
my_set

{1, 2, 3, 4, 5}

In [278]:
myset1 = {1.79, 2.08, 3.99, 4.56, 5.45}
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [279]:
myset2 = {'Doğu', 'Batı', 'Kuzey'}
myset2

{'Batı', 'Doğu', 'Kuzey'}

In [280]:
myset3 = {10, 20, "Hola", (11,22,33)}
myset3

{(11, 22, 33), 10, 20, 'Hola'}

In [281]:
myset3 = {10, 20, "Hola", [11, 22, 33]} #kümeler mutable ögelere izin vermez!
myset3

TypeError: unhashable type: 'list'

In [282]:
myset4 = set()
print(type(myset4))

<class 'set'>

In [283]:
my_set1 = set(('one', 'two', 'three', 'four'))
my_set1

{'four', 'one', 'three', 'two'}

In [284]:
#İterasyon
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

for i in myset:
    print(i)

two
five
one
four
six
eight
seven
three

In [285]:
for i in enumerate(myset):
    print(i)

(0, 'two')
(1, 'five')
(2, 'one')
(3, 'four')
(4, 'six')
(5, 'eight')
(6, 'seven')
(7, 'three')

In [286]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [287]:
'one' in myset

True

In [288]:
'ten' in myset

False

In [289]:
if 'eleven' in myset:
    print("Eleven is present in the set")
else:
    print("Eleven is not present in the set")

Eleven is not present in the set

In [290]:
#Add, Remove

In [291]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [292]:
myset.add('NINE')
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [293]:
myset.update(['TEN', 'ELEVEN', 'TWELVE'])
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [294]:
myset.remove('NINE')
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [295]:
myset.discard('TEN')
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [296]:
myset.clear()
myset

set()

In [297]:
del myset
myset

NameError: name 'myset' is not defined

In [298]:
#Kopyalama
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [299]:
myset1 = myset
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [300]:
id(myset), id(myset1)

(2362671404640, 2362671404640)

In [301]:
my_set = myset.copy()
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [302]:
id(my_set)

2362671404192

In [303]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [304]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [305]:
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [306]:
#Küme Operasyonları

In [307]:
#Birleşim
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [308]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [309]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [310]:
A.union(B, C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [311]:
A.update(B, C)

In [312]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [313]:
#Kesişim
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [314]:
A & B

{4, 5}

In [315]:
A.intersection(B)

{4, 5}

In [316]:
A.intersection_update(B)
A

{4, 5}

In [317]:
#Fark (Difference)
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [318]:
A - B

{1, 2, 3}

In [319]:
A.difference(B)

{1, 2, 3}

In [320]:
B - A

{6, 7, 8}

In [322]:
B.difference(A)

{6, 7, 8}

In [323]:
B.difference_update(A)

In [324]:
B

{6, 7, 8}

In [325]:
#Simetrik Fark (A - B) U (B - A)

In [326]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [327]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [328]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [329]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

In [330]:
#Superset, Subset, Disjoint

In [331]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [332]:
B.issubset(A)

True

In [333]:
A.issuperset(B)

True

In [334]:
C.isdisjoint(A) #birbirleriyle hiç ortak elemanlarının olmaması durumu

True

In [335]:
B.isdisjoint(A)

False

In [336]:
#Diğer Dahili (Built-in) Fonksiyonlar

In [337]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [338]:
sum(A)

45

In [339]:
max(A)

9

In [340]:
min(A)

1

In [341]:
len(A)

9

In [342]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [343]:
D = sorted(A, reverse = True) #descending
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [346]:
sorted(D) #ascending

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [347]:
#Fonksiyonlar

In [ ]:
"""
def myfunc(positional arguments, *args (tuple), named arguments, **kwargs (dictionary))
def myfunc(120, 160, 50, b = 10, c = 20, a = 30)
"""